p
{
    font-family: algerian;
    font-size: 90px;
    color: blueviolet;
}
/* a.dinga
{
    font-family: algerian;
    font-size: 90px;
    color: blueviolet;
    display: block;
} */
.dinga
{
    font-family: algerian;
    font-size: 90px;
    color: blueviolet;
}
#dingi
{
    color: rgb(0,255,0);
}